select {
    width: 50%;
    padding: 1.2rem 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: 
    
    #E3E6EC;
    border-radius: 5px;
    font-family: Nunito Sans;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1.9rem;
    letter-spacing: 0em;
    color: #1F1F20;
    
  }
  
  select >option{
    font-family: Nunito Sans;
font-size: 1.4rem;
font-style: normal;
font-weight: 600;
line-height: 1.9rem;
letter-spacing: 0em;
color: #1F1F20;
   
  }

  select {
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: url("data:image/svg+xml;utf8,<svg fill='black' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
    background-repeat: no-repeat;
    background-position-x: 100%;
    background-position-y: 5px;
  }